.defaultButton {
    background-color: #272727;
    font-size: 0.9rem;
    padding: 20px 0;
    width: 100%;
    outline: none;
    border: none;
    color: #bebebe;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    transition: 300ms background-color ease;
    box-sizing: border-box;
    border: 2px solid #272727;

    &:focus{
        border: 2px solid rgb(198, 196, 196);
    }

    &:hover {
        background-color: #323232;
    }
}