.navbar {
    height: 40px;
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

.ithem{
    padding: 4px;
}
